.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10rem;
  gap: 1rem;
}

.error {
  background-color: red;
}

.success-message {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.primary-button{
  cursor: pointer;
}

.first-click {
  background-color: blue;
}